@import "../../style.scss";
@import "../../components/leftBar/leftBar.scss";
@import "../../components/navbar/navbar.scss";

.edit-profile-page {
  padding: 20px;

  .back-icon {
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
  }

  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-picture {
      margin-bottom: 20px;

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
      }

      .change-profile-btn {
        position: relative;
        cursor: pointer;

        input[type="file"] {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }

        svg {
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: #fff;
          border-radius: 50%;
          padding: 5px;
          color: blue;
        }
      }
    }

    .profile-form {
      width: 50%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .name-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;

        .form-group {
          width: 48%; // Adjusted width for first name and last name input fields
          margin-bottom: 0;
        }
      }

      .form-group {
        width: 100%;
        margin-bottom: 20px;

        label {
          display: block;
          margin-bottom: 5px;
          font-size: 16px;
          color: #333;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
          color: #333;
        }

        button {
          width: 100%;
          padding: 10px 20px;
          background-color: blue;
          color: #fff;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
}
