.blood-donation-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6e0e0;
}

  .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.donation-form {
  background-color: #e0dada;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

input[type='text'],
input[type='date'],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 18px;
}

button[type='submit'] {
  background-color: #6c5ce7;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #4a3cb1;
}

.text-red-500 {
  color: #e53e3e;
}

.text-green-500 {
  color: #48bb78;
}
